<div class="train-test-container">
  <div class="train-test-row first-row">
    <div class="train-test-col">
      <app-set-assignment></app-set-assignment>
    </div>
    <div class="train-test-col">
<!--      <app-class-freq></app-class-freq>-->
<!--      <app-inst-coocurrence></app-inst-coocurrence>-->
      <app-set-overview></app-set-overview>

    </div>
  </div>

  <div class="train-test-row second-row">
    <div class="train-test-col">
      <app-graph-view></app-graph-view>
<!--      <app-temporal-view></app-temporal-view>-->
    </div>
    <div class="train-test-col">
<!--      <app-phase-param></app-phase-param>-->
      <app-inst-coocurrence></app-inst-coocurrence>
    </div>
  </div>
<!--  <div class="train-test-row third-row">-->
<!--    <div class="train-test-col">-->
<!--      <app-temporal-view></app-temporal-view>-->
<!--    </div>-->
<!--    <div class="train-test-col">-->
<!--      <app-phase-param></app-phase-param>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="train-test-row forth-row">-->
<!--    <div class="train-test-col">-->
<!--      <app-class-freq></app-class-freq>-->
<!--    </div>-->
<!--  </div>-->
</div>
