.model-eval-container {
  padding: 2px;
}

.model-eval-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.model-eval-col {
  display: flex;
  flex-direction: column;
}

.model-eval-col * {
  display: flex;
  flex-grow: 1;
}

.first-row *:first-child {
  flex-basis: 40%;
}

.first-row *:last-child {
  flex-basis: 60%;
}

.second-row *:first-child {
  flex-basis: 70%;
}

.second-row *:last-child {
  flex-basis: 30%;
}
