<div class="view-section phase-param">
  <p class="view-section-header">Phase parameters</p>
  <p class="view-section-description">Plot parameters for individual phases.</p>
  <div class="view-section-content">
    <div class="controls">
      <label for="param-select">View:</label>
      <select id="param-select">
        <option value="0">Phase occurrence</option>
        <option value="1">Duration</option>
        <option value="2">Previous phase</option>
        <option value="3">Next phase</option>
        <option value="4">Instrument usage</option>
      </select>
    </div>
    <svg id="phase-param-svg" height="100%" width="100%">
      <g class="phase-param-g">
        <g class="phase-param-dot-g"></g>
        <g class="phase-param-violin-g"></g>
        <g class="phase-param-axis-g"></g>
        <g class="phase-param-hist-g"></g>
      </g>
    </svg>
  </div>
</div>
