.landing {
  display: flex;
  justify-content: center;
}

.landing-dialog {
  width: 40%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  padding: 2% 3%;
}

.landing-dialog-header {
  text-align: center;
}

.landing-dialog-text * {
  margin-bottom: 10px;
}


