<div class="landing">
  <div class="view-section landing-dialog">
    <h1 class="dialog-header">EndovisML v1.0</h1>
    <div class="landing-dialog-text">
      <div>
        EndovisML is a data visualization tool that allows interactive exploration of dataset splits for surgical phase
        and instrument recognition. In particular, this application focuses on the visualization of distributions of
        phases, phase transitions, instruments, and instrument combinations. With the help of this application, the user
        can visualize a chosen dataset split and identify potential issues, e.g., a class not being represented in one
        of the sets.
      </div>
      <div>
        <span style="font-weight: bold">Note: </span>Uploaded data remains your computer. All data processing
        and visualization steps are performed in the browser.
      </div>
    </div>
    <div class="dialog-buttons">
      <a class="button button-large" routerLink="/upload">Upload dataset</a>
      <a class="button button-large" (click)="load_sample_data()">Use sample dataset</a>
    </div>

  </div>
</div>
