<div id="navbar">
  <div id="navbar-list">
    <a class="navbar-link navbar-menu" (click)="toggleMenu()">&#x2261;</a>
    <a class="navbar-link navbar-home" routerLink="/">EndovisML</a>
  </div>
</div>

<div id="component-container" (click)="closeMenu()">
  <router-outlet></router-outlet>
</div>

<div class="view-section menu-expand" *ngIf="menuToggled">
  <a class="menu-link" href="https://github.com/Cardio-AI/endovis-ml/">GitHub Repository</a>
  <a class="menu-link" routerLink="/3rdpartylicenses.txt">Third Party Notice</a>
</div>

