<div id="navbar">
  <ul id="navbar-list">
<!--    <li class="menu"><div>☰</div></li>-->
<!--    <li class="navbar-item selected-item"><a [routerLink]="'/train-test'">Train-Test Split</a></li>-->
<!--    <li class="navbar-item"><a [routerLink]="'/model-eval'">Model Evaluation</a></li>-->
    <li><input id="upload" type="file" webkitdirectory mozdirectory msdirectory odirectory directory multiple value="Upload dataset"></li>
    <li><button><a href="https://drive.google.com/drive/folders/1vApVrmqGLiTPx3Y7sep_1Hyy3NrjoEVq?usp=share_link" target="_blank">Manual</a></button></li>
  </ul>
</div>

<router-outlet></router-outlet>
