<div class="view-section set-overview">
  <p class="view-section-header">Dataset overview</p>
  <p class="view-section-description">Bar charts on the left display the number of surgeries and frames per dataset split. Bar charts on the right show the number of frames for each surgery.</p>
  <div class="view-section-content">
      <svg id="set-overview-svg" height="100%" width="100%">
        <g class="set-overview-charts">
          <g class="set-overview-main-chart">
            <g class="files-bar-chart-g">
              <g class="files-bar-chart-axis-g"></g>
            </g>
            <g class="frames-bar-chart-g">
              <g class="frames-bar-chart-axis-g"></g>
            </g>
          </g>
          <g class="set-overview-secondary-charts">
          </g>
        </g>
        <g class="set-overview-tooltip" opacity="0">
          <rect width="100" height="21" fill="#fed9a6" rx="5" stroke-width="1px" stroke="#a66102" opacity="0.7"></rect>
          <text font-size="11px">
            <tspan dx="5px" dy="5px" font-weight="bold" dominant-baseline="text-before-edge"></tspan>
          </text>
        </g>
      </svg>
  </div>
</div>
