<div class="view-section class-freq">
  <p class="view-section-header">Class frequencies</p>
  <p class="view-section-description">Number of frames per phase and per instrument.</p>
  <div class="controls">
    <label for="class-freq-scale-select">Scale:</label>
    <select id="class-freq-scale-select">
      <option value="0">Absolute scale</option>
      <option value="1">Relative scale</option>
    </select>
    <label for="class-freq-idle-checkbox">Idle time:</label>
    <input id="class-freq-idle-checkbox" type="checkbox" checked>
  </div>
  <div class="view-section-content">
    <svg id="class-freq-svg" width="100%" height="100%">
      <g class="phase-freq-g">
        <g class="phase-freq-axis-y"></g>
        <g class="phase-freq-chart-g"></g>
        <g class="phase-freq-axis-x"></g>
      </g>

      <g class="instrument-freq-g">
        <g class="instrument-freq-axis-y"></g>
        <g class="instrument-freq-chart-g"></g>
        <g class="instrument-freq-axis-x"></g>
      </g>
    </svg>
  </div>
</div>
