<div class="upload">
  <div class="view-section upload-dialog">
    <!--    <h2 class="upload-dialog-header">Dataset upload</h2>-->
    <div class="upload-dialog-form">
      <input type="file" id="file-upload" (input)="readFiles($event)" multiple>
      <label for="file-upload">
        <div class="upload-dialog-form-files" appFileDrop>
          <div id="upload-dialog-form-files-message">
            <ng-container *ngIf="uploadedFiles.length; else notUploaded">
              <span>{{uploadedFiles.length + " files uploaded"}}</span>
              <ng-container *ngIf="uploadedFiles.length < selectedFiles.length; else uploadSuccess">
                <progress id="upload-progress" [value]="uploadedFiles.length" [max]="this.selectedFiles.length"></progress>
              </ng-container>
            </ng-container>


            <ng-template #notUploaded>
              Drag and drop or click to browse
            </ng-template>

            <ng-template #uploadSuccess>
              &#9989;
            </ng-template>
          </div>
        </div>
      </label>

      <div class="upload-dialog-form-input">
        <label for="separator">Value separator</label>
        <select class="input-select" id="separator" [(ngModel)]="separator">
          <option *ngFor="let separator of separators" [value]="separator">{{ separator | capitalize }}</option>
<!--          <option value="tab">Tab</option>-->
<!--          <option value="semicolon">Semicolon</option>-->
        </select>
        <span class="form-hint">Value separator used in phase and instrument annotation files</span>
      </div>

      <div class="upload-dialog-form-input">
        <label for="phase-id">Phase file identifier</label>
        <input type="text" class="input-text" id="phase-id" placeholder="e.g. phase" [(ngModel)]="phaseId">
        <span class="form-hint">Part of file name that is specific for phase annotation files</span>
      </div>

      <div class="upload-dialog-form-input">
        <label for="inst-id">Instrument file identifier</label>
        <input type="text" class="input-text" id="inst-id" placeholder="e.g. tool" [(ngModel)]="instId">
        <span class="form-hint">Part of file name that is specific for instrument annotation files</span>
      </div>

      <div class="upload-dialog-form-input">
        <label for="phase-labels">Phase labels</label>
        <textarea class="input-textarea" id="phase-labels" [(ngModel)]="phaseLabels"></textarea>
        <span class="form-hint">Comma-separated list of phase labels (ordered)</span>
      </div>

      <div class="upload-dialog-form-input">
        <label for="phase-labels">Instrument labels</label>
        <textarea class="input-textarea" id="inst-labels" [(ngModel)]="instLabels"></textarea>
        <span class="form-hint">Comma-separated list of instrument labels</span>
      </div>

      <div class="upload-dialog-form-input">
        <label>Cross-validation splits</label>

        <div class="table">
          <div class="table-header">
            <div>Training</div>
            <div>Validation</div>
          </div>
          <ng-container *ngFor="let _ of crossValSplit; let i = index">
            <div class="table-row">
              <textarea class="table-cell" [(ngModel)]="crossValSplit[i][0]"></textarea>
              <textarea class="table-cell" [(ngModel)]="crossValSplit[i][1]"></textarea>
            </div>
          </ng-container>
        </div>

        <div class="buttons-fit">
          <button class="button button-medium" (click)="addSplit()">+</button>
          <button class="button button-medium" (click)="removeSplit()">-</button>
        </div>
      </div>
        <div class="cross-val-row">
<!--        <a>Add split</a>-->
        <span class="form-hint">Comma-separated list of surgery IDs from the test set</span>
      </div>

      <div class="upload-dialog-form-input">
        <label for="test-set">Test split</label>
        <textarea class="input-textarea" id="test-set" [(ngModel)]="testSet"></textarea>
        <span class="form-hint">Comma-separated list of surgery IDs from the test set</span>
      </div>

    </div>
    <div class="dialog-buttons">
      <button class="button button-large" (click)="processFiles()">Process data</button>
    </div>

  </div>
</div>
