.upload {
  display: flex;
  justify-content: center;
}

.upload-dialog {
  display: flex;
  width: 550px;
  flex-grow: 0;
  flex-direction: column;
  padding: 2% 3%;
}

#file-upload {
  display: none;
}

/*.browse-button {*/
/*  color: blue;*/
/*  cursor: pointer;*/
/*}*/

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #cddce8;
  transition: background-color 100ms ease-in;
  height: 100px;
  outline: 2px dashed #7390a6;
  outline-offset: -10px;
  cursor: pointer;
}

#upload-status {
  font-size: 24px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.form-element {
  margin-top: 20px;
}

.form-input-element {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 7px;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.upload-dialog-form-files-dragging {
  background-color: white;
}

.form-hint {
  font-size: 8pt;
  color: gray;
}

.cross-val-row {
  display: flex;
  flex-direction: row;
  /*gap: 0 30px;*/
}

/*.table {*/
/*  margin: 7px 0;*/
/*}*/

.input-cell {
  resize: none;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  height: 100px;
  flex-grow: 1;
  outline: none;
  border: 1px solid #dadada;
  padding: 5px 5px;
  margin-bottom: -1px;
}

.table-header:first-child, .row-number  {
  font-size: 10pt;
  width: 10%;
}

.table-header:not(:first-child), .input-cell {
  font-size: 10pt;
  width: 45%;
}

.row-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadada;
  margin-bottom: -1px;
}

textarea {
  margin: 0;
}

.input-label {
  font-weight: bold;
  font-size: 12pt;
}

.add-row {
  background-color: gray;
  text-align: center;
}
