.upload {
  display: flex;
  justify-content: center;
}

.upload-dialog {
  display: flex;
  width: 40%;
  flex-grow: 0;
  flex-direction: column;
  padding: 2% 3%;
}

.upload-dialog-header {
  text-align: center;
}

.upload-dialog-form {
  display: flex;
  flex-direction: column;
}

.upload-dialog-form>* {
  margin-top: 20px;
}

.upload-dialog-form-files {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #cddce8;
  transition: background-color 100ms ease-in;
  height: 100px;
  outline: 2px dashed #7390a6;
  outline-offset: -10px;
  cursor: pointer;
}

#upload-dialog-form-files-message {
  font-size: 24px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.upload-dialog-form-input {
  display: flex;
  flex-direction: column;
}

.upload-dialog-form-files-dragging {
  background-color: white;
}

.form-hint {
  font-size: 8pt;
  color: gray;
}

select {
  background-position: left 100px top 50%, 0 0;
}

#file-upload {
  display: none;
}

.cross-val-row {
  display: flex;
  flex-direction: row;
  /*gap: 0 30px;*/
}
.table {
  margin: 7px 0;
}

.table-cell {
  resize: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #dadada;
  padding: 5px 5px;

  margin-bottom: -1px;
}

.add-row {
  background-color: gray;
  text-align: center;
}

