.button {
  background-color: #3d98d0;
  transition: opacity 100ms ease-in;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  opacity: 0.9;
}

.button-large {
  font-size: 14pt;
  width: 230px;
  padding: 5px 0;
}

.button-medium {
  font-size: 10pt;
  width: 90px;
  padding: 2px 0;
}

.button-small {
  font-size: 7px;
}
