/* You can add global styles to this file, and also import other style files */
@import url('./buttons.css');

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #F0F0F2;
}

.view-section {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dadada;
  margin: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.view-section-header{
  text-align: center;
  font-size: 16pt;
  margin: 0;
}

.view-section-description {
  font-size: 11pt;
}

.view-section-content {
  /*position: relative;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
}

.controls {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  align-items: center;
  font-size: 9pt;
}

.controls * {
  margin-left: 5px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
}


/* from input styling */
.input-select, .input-text, .input-textarea {
  width: 100%;
  font-size: 10pt;
  padding: 5px 5px;
  /*margin: 4px 0;*/
  border: 1px solid #dadada;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: box-shadow 100ms ease-in;
}

.input-textarea {
  font-family: Helvetica, sans-serif;
  height: 100px;
  resize: none;
}

.input-select:focus, .input-text:focus, .input-textarea:focus, .input-cell:focus {
  box-shadow: 0 0 4px #4195fc;
  z-index: 1;
}

/*  box-shadow: 0 0 0 #4195fc;*/
/*  outline: none;*/
/*  z-index: 1;*/
/*}*/

.table {
  border-radius: 20px;
}

.table-header-row {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: gray;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  flex-grow: 1;
  padding: 5px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.input-cell:not(:first-child) {
  margin-left: -1px;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.dialog-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

code {
  background-color: lightgray;
  border-radius: 4px;
  padding: 3px;
  font-size: 80%;
  display: inline;
  vertical-align: middle;
}

.input-description {
  font-size: 10pt;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: justify;
}

.table-row:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
